{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<style>
    .card-img-top {
        max-width: 30%; /* Adjust this percentage as needed */
        height: auto;  /* Maintain the aspect ratio */
        margin: 0 auto; /* Center the image */
    }
</style>
<div class="container mt-4 border-0">
    <div class="row">
        <div class="col">
            <div class="card text-center border-0">
                <img src="{% static 'images/logo.jpeg' %}" class="card-img-top" alt="Widgets Inc." style="width: 200px">
                <div class="card-body">
                  <h5 class="card-title">Welcome to Widgets Inc. Online!</h5>
                    <h6 class="card-subtitle mb-2 text-muted">"Computer Stuff" since 1998</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title text-center">What are you looking for today?<img src="{% static 'images/magnifying-glass.png' %}" width="40px"></h4>
                    <div class="card-text">
                        <div>
                            <form class="card-text" id="search-form"autocomplete="off">
                                {% csrf_token %}
                                <input class="form-control me-2" type="search" placeholder="Search by manufacturer, part number, or part description..." aria-label="Search" id="search-input">
                            </form>
                            <div id="product-results" class="dropdown-menu w-100 shadow">
                                <!-- Search results dynamically populated here -->
                            </div>
                                                    
                        </div>
                    </div>
                    <br>
                    <div class="card-text text-muted text-center">
                        <h6>Or, browse by
                    
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                {% for category in categories %}
                                <li class="dropdown-item">
                                    <a href="{% url 'product_list_by_category' category.slug %}" class="nav-link text-dark">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        </h6>
                    </div>
                </div>
            </div>
        </div>   

        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <h4 class="card-title text-center">
                        Already placed an order?
                        <img src="{% static 'images/packing.png' %}" width="40px">
                    </h4>
                    <div class="card-text">
                        <!-- Display success/error messages -->
                        {% if messages %}
                            <ul class="list-unstyled">
                                {% for message in messages %}
                                    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        
                        <!-- Order status form -->
                        <form class="card-text" id="order-form" autocomplete="on" method="post" action="{% url 'check_order_status' %}">
                            {% csrf_token %}
                            <input class="form-control me-2" type="search" placeholder="Enter your order number here..." aria-label="Search" id="order_number" name="order_number">
                            <button type="submit" class="btn btn-primary">Check Order Status</button>
                            <br>
                            {% if status %}
                            <h6>The status of order <b>{{ order_number }}</b> is:</h6>
                                {{ status }}
                            {% elif status is not None %}
                                <p>No order found with that number.</p>
                            {% endif %}
                        </form>
                            {% if status %}
                            <a href="{% url 'show_receipt' order_number %}" class="btn btn-success">View Receipt</a>
                            {% endif %}
                
                    </div>
                </div>
            </div>        
        </div>
            
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <h6 class="card-title text-center">Not finding what you need?</h6>
                    <p class="card-text">The items on our site are just a small portion of our inventory. If you don't see what you need listed here, it doesn't mean we don't have it.</p>
                    <p class="card-text">Call us at <b>1-310-457-2543 or 1-800-722-8798</b> between 7:30AM to 5:00PM Pacific Monday-Friday</p>
                </div>
            </div>
        </div>  
    
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">   
                    <h6 class="card-title text-center">Celebrating 20 years of serving our customers</h6>
                    <p class="card-text">
                        We've done business all over the world with government buyers, large Fortune 500 accounts, medium and small businesses, and with individuals. We pride ourselves in being able to service them all equally well. 
                    </p>
                </div>
            </div>
            
        </div>
        
        <div class="col-md-12">
            <div class="card border-0">
                <br>
                <div class="card-text">   
                    <h5 class="card-title text-center">We ship from the USA! <img src="{% static 'images/american-flag.png' %}" width="40px">
                    </h5>
                    <p class="card-title text-center">We have over 10,000 products that we can usually ship same day from Southern California.</p>
                </div>
                <div class="card-body">
                    <br><br>
                    
                </div>
            </div>
        </div>
    </div>


    
</div>
{% endblock %}
