{% extends 'store/base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
        <div class="row g-0">
            <div class="col text-center">
                <div class="card text-center border-0">
                    <img src="{% static 'images/logo.jpeg' %}" class="card-img-top mx-auto" alt="Widgets Inc." style="width: 200px;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">"Computer Stuff" since 1998</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row g-0">
            
            <!-- Image Section -->
            <div class="col-md-5 d-flex align-items-center">
                <div class="p-3">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="img-fluid rounded" alt="{{ product.name }}" style="max-height: 300px; width: auto; object-fit: contain;">
                    {% else %}
                        <img src="{% static 'images/logo.jpeg' %}" class="img-fluid rounded" alt="No image available" style="max-height: 300px; width: auto; object-fit: contain;">
                    {% endif %}
                </div>
            </div>

            <!-- Product Info Section -->
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ product.category }} > {{ product.manufacturer }} > {{ product.sku }}</h5>
                    <h3>{{ product.description }}</h3>
                    <p class="card-text">
                        <strong>SKU:</strong> {{ product.sku }}<br>
                        <strong>Manufacturer:</strong> {{ product.manufacturer }}<br>
                        <strong>Category:</strong> {{ product.category }}<br>
                        <strong>Description:</strong> {{ product.description }}
                    </p>
                    {% if product.price %}
                        <h4 class="text-success">${{ product.price }}</h4>
                    {% else %}
                        <p class="text-danger">Call for pricing</p>
                    {% endif %}
                    
                    {% if product.price %}
                    <!-- Add to Cart Form -->
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
                    </form>
                    {% endif %}
                    
                </div>
                
            </div>
        </div>
        <br><br><br>
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card border-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <h6 class="card-text mb-0 me-2">Looking for something else? Browse by </h6>
                            <div class="btn-group me-2" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Category
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    {% for category in categories %}
                                    <li class="dropdown-item">
                                        <a href="{% url 'product_list_by_category' category.slug %}" class="nav-link text-dark">{{ category.name }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <span class="me-2">or</span>
                            <form class="d-flex align-items-center flex-grow-1" id="search-form" autocomplete="off">
                                {% csrf_token %}
                                <input 
                                    class="form-control" 
                                    type="search" 
                                    placeholder="Search by manufacturer, part number, or part description..." 
                                    aria-label="Search" 
                                    id="search-input" >
                            </form>
                        </div>
                        <div id="product-results" class="dropdown-menu w-100 shadow">
                            <!-- Search results dynamically populated here -->
                        </div>
                    </div>
                </div>
                
                
                <div class="card border-0">
                    <div class="card-body">
                        <h6 class="card-title text-center">Still not finding what you need?</h6>
                        <p class="card-text text-center text-muted">If you don't see what you need listed here, it doesn't mean we don't have it. Call us at <b>1-800-123-1234</b> between 7:30AM to 5:00PM Pacific Monday-Friday</p>
                    </div>
                </div>
            </div>
        </div> 
                    
</div>

{% endblock %}
